PORT=18777
SERVER_WORKERS=4
SUPERUSER_EMAIL=shlyukhogram@shlyukhogram.shlyukhogram
SUPERUSER_PASS=shlyukhogram

DATABASE_USER=shlyukhogram
DATABASE_PASSWORD=shlyukhogram
DATABASE_NAME=shlyukhogram
DATABASE_HOST=db
DATABASE_PORT=5432
