PORT=18777
SERVER_WORKERS=4
SUPERUSER_EMAIL=cerohumano@cerohumano.cerohumano
SUPERUSER_PASS=cerohumano

DATABASE_USER=cerohumano
DATABASE_PASSWORD=cerohumano
DATABASE_NAME=cerohumano
DATABASE_HOST=cerohumano_db
DATABASE_PORT=5432

LLM_HOST=cerohumano_llm
LLM_PORT=11434
